<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="assets/css/bootstrap.css">
</head>
<body>
	<div class="container-fluid">
          
          
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info">
                  <h4 class="card-title">Nuevo Usuario</h4>
                  <p class="card-category">Por favor complete los campos requeridos</p>
                </div>
                <div class="card-body">
                  <form  method="post" action="/registrar" modelAttribute="user">
 				    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Username</label>
                          <input type="text" name="username" class="form-control">
                        </div>
                      </div>
                    </div>                  	
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Password</label>
                          <input  type="password" name="password" class="form-control">
                        </div>
                      </div>
                      </div>
                        <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Direccion</label>
                          <input type="text" name="direccion" class="form-control">
                        </div>
                      </div>
                      </div>
                  
                    <button type="submit" style="margin-left: 45%" class="btn btn-success">Registrar</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>
</html>