<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Productos</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css">
</head>
<body>
	 <p class="card-category" th:text="${'Total de registros ' + #lists.size(producto)}" ></p>
	<div class="row">
         
         <div class="col-md-12">
         
          <div class="card" th:each="p: ${producto}" >
      			<div th:text="${p.nombre}">
      			
      			
      			
      			</div>
       <img th:href="@{'/productos/'+${p.IdProducto}}" scr="dssdsd.png">
       </div>
         </div>
      
     
  
     </div>

</body>
</html>