<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Usuarios Registrados</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css">
</head>
<body>
	
	<div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-info">
                  <h4 class="card-title">Clientes registrados</h4>
              <p class="card-category" th:text="${'Total de registros ' + #lists.size(user)}" ></p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-info">
                         <th>ID</th>
                      <th>Username</th>
                      <th>Password</th>                      
                      <th>Direccion</th>
                      <th></th>
                    </thead>
                    <tbody>
                       <tr th:each="e:${user}" >
                        <td th:text="${e.id}">{ID}</td>
                        <td th:text="${e.username}">{USERNAME}</td>
                        <td th:text="${e.password}">{PASSWORD}</td>
                        <td th:text="${e.direccion}">{DIRECCION}</td>
                        <td>
                        <!-- /editar/1 -->
                         <a th:href="@{'/editar/'+${e.id}}" class="btn btn-info">Editar</a>
                         <a th:href="@{'/deleteuser/'+${e.id}}" class="btn btn-info">Eliminar</a>
                        </td>
                      </tr>
                    </tbody>
                      
                    
                  </table>
                </div>
              </div>
            </div>
          </div>
</body>
</html>